:root {
    --morado: #8e7bef;
    --negro: #222222;
    --amarillo: #fcda68;
    --negroClaro: #423f40;
    --blanco: #fff;
    --grisClaro: #f9f5f2;

    --fuentePrincipal: 'Inter', sans-serif;
    --fuenteSecundaria: 'Open Sans', sans-serif;

    --navbar-height: 60px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Globales */

html {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--fuentePrincipal)
}


body {
    margin: 0;
}

img {
    max-width: 100%;
    width: 100%;
}

/* colores */
.morado {
    color: var(--morado);
}

.negro {
    color: var(--negro);
}

.amarillo {
    color: var(--amarillo);
}

.negro2 {
    color: var(--negroClaro);
}

.blanco {
    color: var(--blanco);
}

.grisClaro {
    color: var(--grisClaro);
}

.bgamarillo {
    background-color: var(--amarillo);
}

.bggris {
    background-color: var(--grisClaro);
}

.bgblanco {
    background-color: var(--blanco);
}

.bgmorado {
    background-color: var(--morado);
}

/* Header */
.header {
    top: 0;
    height: var(--navbar-height);
    max-width: 1024px;
    align-content: center;
    margin: 0 auto;
    width: 100%;
}

.header__contenido {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: .25rem;
    text-decoration: none;
}

.menu__principal {
    width: 100%;
    background-color: #FFF;
}

.navbar__button {
    padding: 5px 5px 5px 5px;
    color: #edb600;
    border: 2px solid #edb600;
    border-radius: 5px;
    display: flex;
    margin: 90%;
    align-content: center;
    transition: all .5s ease;
}


.btn--close,
.btn--open {
    cursor: pointer;
}

.navbar__icon {
    font-size: 1.2rem;
}

.navbar__name {
    color: #000;
}

.navegacion {
    display: flex;
    gap: .5rem;
    padding-right: 1rem;
}

.to-top {
    background-color: #8e7bef9d;
    color: #222222;
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 20px;
    text-decoration: none;
    pointer-events: none;
    opacity: 0;
    transition: all 0.4s ease-in;
}

.to-top.active {
    bottom: 30px;
    pointer-events: auto;
    opacity: 1;
}


.wrapper {
    margin-top: var(--navbar-height);
}


/* DISEÑO MOBILE DE 0px A 768 px */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    /* SECCION NAVBAR MOBILE */
    .header {
        position: fixed;
        top: 0;
        height: var(--navbar-height);
    }

    .header__contenido {
        position: relative;
    }

    .menu__principal {
        position: absolute;
        top: -600%;
        width: 100%;
        background-color: #fcda68;
        border-radius: 0 0 20px 20px;
        box-shadow: 5px 10px 15px 1px #8e7efea8;
        transition: all 0.5s ease;
    }

    .navegacion.active {
        top: 0;
    }

    .navegacion {
        margin: 2rem 0 1.5rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .nav__list {
        transition: all .3s ease;
    }

    .btn--close {
        position: absolute;
        font-size: 2rem;
        top: 8px;
        right: 8px;
        color: #8e7bef;
        transition: all .4s ease;
    }

    /* SECCION ABOUT MOBILE*/

    .about__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        height: 100%;
    }

    .about__contenedor {
        max-width: 80%;
        margin: 0 auto;
    }

    .text__title {
        font-size: 50px;
        font-weight: semibold;
    }

    .text__description {
        font-size: 32px;
        font-weight: semibold;
    }

    .about__span {
        font-size: 20px;
    }

    .about__icons {
        display: flex;
        gap: 50px;
        justify-content: center;
        margin: 30px;
    }

    .about__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.5s ease;
    }

    .img__container {
        width: 100%;
        height: 350px;
        max-width: 300px;
        max-height: 400px;
        margin: 10px;
    }

    .about__contact1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        margin-bottom: 50px;
        max-width: 300px;
        width: 100%;
        gap: 10px;
        text-decoration: none;
        transition: all 0.5s ease;
    }

    .contact__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    /* SECCION EXPERIENCIA MOBILE */

    .expyhab__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .expyhab__contenedor {

        display: inherit;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 100%;
        width: 100%;
        padding: 0 10px;
        text-align: start;
    }

    .expyhab__title {

        margin-bottom: 0;
        font-size: 32px;
    }

    .expyhab__description {

        font-size: 20px;
    }

    .experience__contenedor {

        width: 100%;
        display: inherit;
        flex-wrap: wrap;
    }

    .experience__title {

        display: block;
        width: 100%;
        font-size: 20px;
    }

    .titulo {
        padding-left: 10px;
    }

    .experiencias {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .experiencia {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        margin: 0 10px;
    }

    .experience__date {

        padding: 10px;
        margin: 0;
    }

    .exp__descripcion {

        margin: 0;
        padding: 0;
    }

    .experience__title {

        margin: 0;
        padding: 0;
    }

    .experience__description {

        margin: 0;
        padding: 0;
    }

    .experiencia__borde {
        border-top: 3px solid #423f40;
        border-bottom: 3px solid #423f40;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        margin: 5px 10px;
        padding: 5px 0;

    }

    .habilities__contenedor {

        width: 100%;
        display: inherit;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .habilities__title {

        padding-left: 10px;
        font-size: 20px;
    }

    .habilities__icons {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px 100%;
    }

    .icon__description {
        max-width: 150px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 25px;
    }

    /* SECCION PORTAFOLIO MOBILE */

    .portfolio__container {
        display: inherit;
        flex-direction: column;
    }

    .portfolio__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

    }

    .portafolio__title {
        padding-left: 10px;
        font-size: 32px;
    }

    .projects__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .projectos {
        width: 100%;
        height: 100%;
        padding: 10px 30px;

    }

    .project__title {
        font-size: 20px;
    }

    .project__link {
        width: 100%;
        height: 100%;
    }

    .image__link {
        transition: all 0.5s ease;
    }


    /* SECCION CONTACTAME MOBILE */

    .contacto {

        display: inherit;
        flex-direction: column;
    }

    .title {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .contacto__title {

        padding-left: 10px;
        font-size: 32px;
    }

    .contact__links {
        display: grid;
        align-content: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;
        align-items: center;
        justify-items: center;
    }

    .contact__links--phone {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100px;
        height: 100px;
        margin-bottom: 0px;
        margin-top: 35px;
        border-radius: 40%;
        transition: all .5s ease;
    }

    .phone__text {
        grid-column-start: 1;
        grid-column-end: 2;
        margin-bottom: 75px;
    }

    .celular {
        margin: 0;
        font-size: 20px;
        text-align: center;
    }

    .descripcion__celular {
        font-size: 16px;
        margin: 0;
        text-align: center;
    }

    .contact__links--mail {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 3;
        width: 100px;
        height: 100px;
        margin-bottom: 0px;
        margin-top: 35px;
        border-radius: 40%;
        transition: all .5s ease;
    }

    .mail__text {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-bottom: 75px;
    }

    .email {
        margin: 0;
        font-size: 20px;
        text-align: center;
    }

    .descripcion__email {
        font-size: 16px;
        margin: 0;
        text-align: center;
    }

}

/* DISEÑO DESKTOP DE 768px AL MAX DE PANTALLA*/
@media (min-width: 769px) {

    /* SECCION NAVBAR DESKTOP */
    .btn--close {
        display: none;
    }

    .navegacion {
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
        height: var(--navbar-height);
    }

    .nav__list {
        transition: all .3s ease;
    }

    .nav__button {
        display: none;
    }

    /* SECCION ABOUT DESKTOP */
    .about__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 1fr;
        gap: 10px;
        height: 100%;
        font-size: 18px;
        max-width: 1024px;
        margin: 0 auto;
    }

    .about__contenedor {
        max-width: 100%;
        max-height: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .about__title {
        font-size: 80px;
        margin: 0;
        line-height: 80px;
    }

    .text__title {
        font-size: 80px;
        margin: 25px 0 0 0;
    }

    .text__description {
        line-height: 30px;
        margin: 30px 0px;
        font-size: 24px;
    }

    .about__span {
        margin: 40px 0px;
        font-size: 18px;
    }

    .list__icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
    }

    .nav__iconos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 50%;
        transition: all .3s ease;
    }

    .img__container {
        max-width: 100%;
        max-height: 100%;
        padding: 30px 0;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .profile {
        height: 100%;
        width: 100%;
    }

    .about__contact1 {
        max-width: 60%;
        max-height: 30%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        text-decoration: none;
        transition: all .3s ease;
    }


    .contact__container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        height: 40px;
    }

    /* SECCION EXPERIENCIA Y HABILIDADES DESKTOP */


    .content__width {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 1024px;
        margin: 0px auto;
    }

    .expyhab__contenedor {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .expyhab__title {
        font-size: 40px;
        max-width: 70%;
    }

    .expyhab__description {
        font-size: 18px;
        max-width: 70%;
    }

    .experience__contenedor {

        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .experience__title {
        font-size: 24px;
    }

    .experiencias {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }

    .experiencia {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    .experience__title {
        margin: 0;
    }

    .experience__description {
        margin: 0;
    }

    .experiencia__borde {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 60px;
        width: 100%;
    }

    .habilities__contenedor {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        align-items: flex-start;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .habilities__title {
        font-size: 24px;
    }

    .habilities__icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        height: 40px 100%;
        padding: 40px 0;
        width: 40px;
    }

    .habilities__icons--mobile {
        grid-area: 1/1/2/1;
        align-self: end;
    }

    .habilities__icons--motion {
        grid-area: 1/2/1/3;
        align-self: end;
    }

    .habilities__icons--create {
        grid-area: 1/3/1/4;
        align-self: end;
    }

    .habilities__icons--management {
        grid-area: 1/4/1/5;
        align-self: end;
    }

    .icon__description {
        grid-row: 2/2;
        align-self: start;
        text-align: center;
        max-width: 165px;
        margin: 0 20px;
    }

    /* SECCION PORTAFOLIO DESKTOP */

    .portfolio__container {
        max-width: 1024px;
        margin: 0 auto;
    }

    .portafolio__title {
        font-size: 40px;
        margin: 25px 0 0 0;
    }

    .projects__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 40px 1fr;
        justify-content: start;
        justify-items: start;
        align-items: start;
        gap: 20px;
    }

    .projectos {
        height: 93%;
        width: 93%;
        margin: 0;
        grid-row-start: 2;
        grid-row-end: 3;
        border-radius: 10px;
        transition: all .3s ease-in-out;
    }

    .project__title {
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
    }


    /* SECCION CONTACTO DESKTOP */

    .contacto {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }


    .contacto__title {
        font-size: 40px;
    }

    .contact__links {
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .contact__links--phone {
        display: flex;
        width: 100px;
        height: 100px;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        margin-top: 35px;
        border-radius: 40%;
        grid-area: 1/1/2/2;
        transition: all .3s ease;
    }

    .contact__links--mail {
        display: flex;
        width: 100px;
        height: 100px;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        margin-top: 35px;
        border-radius: 40%;
        grid-area: 1/2/2/3;
        transition: all .3s ease;
    }

    .phone__text {
        grid-column-start: 1;
        grid-column-end: 2;
        margin-bottom: 75px;
    }

    .celular {
        margin: 0;
        font-size: 24px;
        text-align: center;
    }

    .descripcion__celular {
        font-size: 18px;
        margin: 0;
        text-align: center;
    }

    .mail__text {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-bottom: 75px;
    }

    .email {
        margin: 0;
        font-size: 24px;
        text-align: center;
    }

    .descripcion__email {
        font-size: 18px;
        margin: 0;
        text-align: center;
    }
}